header {
  border-bottom: 1px solid #00b4d8;
  //----
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
main {
  padding-top: 57px;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 10px;
  padding-inline: 10px;
  &__logo {
    display: flex;
    justify-content: center;
  }
  &__background {
    background-color: white;
    padding-block: 10px;
  }
}
.navigation {
  display: flex;
  justify-content: space-around;
  &__list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-content: baseline;
  }
  &__link {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  &__link--active {
    color: #4bdbfe;
  }
}
.background {
  max-width: 1600px;
  background-image: url(/images/womanIdea.jpg);
  background-size: cover;
  background-position: center center;
}
.head {
  padding-block: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__tittle {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6;
    color: white;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 30px;
  }
  &__button {
    border: none;
    border-radius: 12px;
    border-style: hidden;
    // background-color: aqua; 4BDBFE
    background-color: #4bdbfe;
    padding: 10px 41px 10px 41px;
  }
}

.oferty__cards {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  flex-wrap: wrap;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}
.head__ofert {
  display: flex;
  justify-content: center;
}
.usługi {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.oferty {
  padding-block: 10px;
}
.card {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-basis: calc((100% - 45px) / 4);
  }
  &_item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_icon {
    border: 1px solid black;
    border-radius: 50%;
  }
}
