header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
main {
  padding-top: 57px;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 10px;
  padding-inline: 10px;
  &__logo {
    display: flex;
    justify-content: center;
  }
  &__background {
    background-color: white;
    padding-block: 10px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__background {
    background-color: #00b4d8;
    padding-block: 30px;
  }
  &__underline {
    width: 90vw;
    border: 1px solid black;
    margin-block: 20px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__boxItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__head {
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;
  }
  &__copyright {
    text-align: center;
  }
  &__icon {
    width: 45px;
    height: 45px;
    fill: #b22fb2;
    &:hover {
      cursor: pointer;
    }
  }
}
//----------------------mobile menu
.d-none {
  display: none;
}
.mobile__menu--button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-flex;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: #00b4d8;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 102;
  background-color: transparent;
  border: 0;
  display: inline-flex;
  cursor: pointer;

  margin: 0;
  padding: 0;
  display: flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: #00b4d8;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: #00b4d8;
  z-index: 99;

  &__wrapper {
    width: 100%;
    position: relative;
    padding: 80px 20px;
    height: 100vh;
  }
  &__link-nav {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: white;
    }
  }

  &__list-nav {
    flex-direction: column;
    gap: 32px;
  }
  &__item-nav {
    display: flex;
    justify-content: center;
  }
}
.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    &__list {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-content: baseline;
    }
    &__link {
      font-size: 16px;
      line-height: 1.1;
      font-weight: 500;
      letter-spacing: 0.02em;
    }
    &__link--active {
      color: #4bdbfe;
    }
  }
}
.background {
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/womanIdea.jpg);
  background-size: cover;
  background-position: center center;
  //  background-attachment: fixed;
  padding-block: 110px;
  padding-inline: 20px;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__tittle {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6;
    color: white;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
  }
  &__button {
    border: none;
    border-radius: 12px;
    border-style: hidden;
    // background-color: aqua; 4BDBFE
    background-color: #4bdbfe;
    padding: 10px 41px 10px 41px;
    margin-top: 50px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.offers {
  background-repeat: no-repeat;
  padding-block: 20px;
  background-image: linear-gradient(
      rgba(196, 192, 192, 0.7),
      rgba(187, 185, 185, 0.7)
    ),
    url(/images/womanRelax.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  &__box--head {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    text-align: center;
  }
  &__box--list {
    display: flex;
    flex-direction: column;

    gap: 20px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__box--card {
    border: 1px solid black;
    padding: 20px;
  }
  &__box--button {
    background-color: transparent;
    border-radius: 20%;
    &:hover {
      background-color: transparent;
    }
  }
}
.offer__block {
  display: flex;
  flex-direction: column;

  padding: 20px;
  align-items: center;

  @media screen and (min-width: 768px) {
    max-width: 421px;
  }
  &--image {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    border: groove;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

    transition: scale 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 756px) {
    }
    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }
  &--text {
    text-align: center;
    margin-top: 20px;

    max-width: 300px;
    &:hover {
      cursor: pointer;
    }
  }
}

.card {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-basis: calc((100% - 45px) / 2);
  }
  &_item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_icon {
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin-inline: auto;
  }
}

.offer__card {
  width: 100%;
  display: flex;
  gap: 50px;

  // border: 1px solid green;

  position: relative;

  justify-content: center;
  margin: auto;
  &--left {
    width: 20%;
    height: 100%;

    padding: 30px;
  }
  &--leftTwo {
    width: 80%;
    height: 80%;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }
  &--center {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
  }
  &--title {
    margin-bottom: 20px;
    text-align: center;
    color: black;
  }
  &--offerList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &--right {
    width: 20%;
    height: 100%;
  }
  &--rightTwo {
    width: 60%;
    height: 60%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  @media screen and (min-width: 768px) {
    width: 80%;
    height: 300px;
  }
}
.location {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-block: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  &__map {
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__info {
    text-align: center;
  }
  &__headText {
    margin-block: 20px;
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  &__map--style {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #00b4d8;
    border-radius: 50%;
    @media screen and (min-width: 768px) {
      width: 600px;
      height: 400px;
    }
  }
}
.ourTeam {
  padding-block: 20px;
}
#menu,
#team,
#offert,
#contact {
  padding-top: 100px;
}
//-------------------Ponizej do sprawdzenia kod ------------------------
.kreska4 {
  width: 100px;
  height: 100px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card {
  &_icon2 {
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
  }
}

.kreska {
  width: 200px;
  height: 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 40px;
  // position: relative;

  border: 1px solid red;
}
.kreska2 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  // position: absolute;
  // top: 20px;
  // left: 20px;
}
.karty {
  justify-content: center;
}
.test {
  width: 100%;
  height: 100%;
}

.newInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article {
  border: 1px solid grey;
  padding: 50px;
}
.infoTitle {
  text-align: center;
}
