body {
  font-family: "Poppins", sans-serif;
  color: #212121;
  

 
}
  // rgb(64,217,254)

h1,
h2,
h3,
h4,
p,
ul,
figure,
fieldset {
  margin: 0;
  padding: 0px;
}
a {
  color: #212121;
  text-decoration: none;

  /* will-change: color; */
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #4bdbfe;
  }
}

button {
  /* will-change: transition; */
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    
    color: #ffffff;
    cursor: pointer;
    
  }
}

ul:not(.adress) {
  list-style: none;
  display: flex;
}
